.bg-light-orange{
    background-color: rgb(230, 190, 96);
}

.bg-principal{
    background-color: rgb(234, 188, 83)
}
#botonera img{
    width: 150px;
}

img{
    width: 100%;
}

h1{
    display: flex;
    justify-content: center;
    margin: 0px;
}
p{
    text-align: justify;
}

/* Footer */
Footer{
    background-color: hsl(42, 78%, 62%);
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 2px solid var(--alternative);
    position: relative;
    bottom: 0;
    
}
Footer a{
    text-decoration: none;
}
Footer a Img{
    height: 30px;
    width: 30px;
}