.scale:hover{
    transform: scale(110%);
    cursor: pointer;
}

article button{
    background:linear-gradient(to top, rgb(68, 48, 4), rgb(208, 104, 20)) ;
    color: map-get($map:$paleta , $key:'seis');
    border: none;
    border-radius: 4px;
}
article button:hover{
    background: linear-gradient(to top, rgb(208, 104, 20), rgb(68, 4, 4));
    cursor: pointer;
}
.card-img-top:hover{
    transform: scale(110%);
    cursor: zoom-in;
}