//Img
img{
    width: 100%;
}

.clientes{
    height: 100%;
}

.error{
    width: 20em;
    height: 20em;
    display: block;
    margin: auto;
}

.foto-nosotros{
    height: auto;
    padding: 3px;
    width:400px;
}
