//Responsive
@media screen and (max-width:720px){
    .info-title{
        padding: auto;
    }
    .foto-nosotros{
        height: 100%;
        width: 300px;
    }
    .comunicate{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(2,1fr);
    }
    .contact{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0%;
    }
    .form{
        width: 70%;
        background-color:map-get($map:$paleta , $key:'cinco');
        border: 2px solid map-get($map:$paleta , $key:'uno');
        border-radius: 5px;
        align-content: center;
    }
    .mapa{
        width: 100%;
        display: flex;
        align-items: center;
        padding: 0.5em;
    }
    
}
@media screen and (max-width:670px){
    .info{
        display: flex;
        flex-direction: column;
        padding:auto;
    }
    .info-text{
        padding: 1em;
        padding-top: 0em;
        text-align: justify;
    }

    .foto-nosotros{
        height: auto;
        padding: 3px;
    }
    #gallery{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .gallery{
        display: grid;
        grid-template-columns:1;
        grid-template-rows: repeat(1,1fr);
        gap: 1rem;
        margin: 0.5em;
    }
        .combo-1{
            grid-row: 1/1;
        }
        .combo-2{
            grid-column: 1/1;
        }
        .combo-3{
            grid-row: 3/3;
        }
        .combo-4{
            grid-row: 4/4;
        }
        .combo-5{
            grid-row: 5/5;
        }
        .combo-6{
            grid-row: 6/6;
        }

        .error-font{
            font-size: 1.3em;
        }
}