//Fonts google
@import url('https://fonts.googleapis.com/css2?family=Itim&family=Roboto:ital@1&display=swap');
$font-titles:'Itim', cursive;
$font-principal:'Roboto', sans-serif;

//Sizing
$text-large: 2em;
$text-medium: 1.5em;
$text-base: 1em;
$text-small:.75em;
$text-xsmall:.5em;

//weights
$text-bold:600;
$text-regular:400;
$text-thin:200;
